body {
  background-color: #9c9c9c;
  margin: 20px;
  text-align: center;
}

input {
  display: inline-block;
  text-align: left;
  width: 150px;
  height: 30px;
}

label {
  display: inline-block;
  text-align: left;
  font-size: 18px;
}

label span {
  display: inline-block;
  text-align: right;
  width: 400px;
}

h1 {
  font-size: 40px;
  display: inline;
  position: relative;
}

br {
  display: block;
  content: " ";
  margin-bottom: 20px;
}

.output {
  font-size: 25px;
  font-weight: bold;
}

.plot {
  position: absolute;
  top: 170px;
  left: 1300px;
}

.thread {
  position: absolute;
  top: 0px;
  left: 600px;
}

form {
  position: absolute;
}

select {
  width: 150px;
}
